 @import "../../style.scss"; 

.modal-content{

    .inp1{
        
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 15px;
}
.inp-ed{
    border-radius: 8px;
}

}

// div{
//     background-color: aqua;
// }