// @import "../../style.scss";

// div .ce-chat-list{
//     background-color: #eaeaea !important;
// }
//  .ce-chat-list{
//     background-color: #F6F3F3 !important;
// }
//  .theme-light{
//     background-color: #F6F3F3 !important;
// }
// //  .ce-custom-chat-header .ce-message-list{
// // //     background-color: #F6F3F3 !important;
// // background-color: (0deg, #F6F3F3 , rgb(235 237 245) 75%, #F6F3F3 );
// // }
// div .ce-chat-feed :nth-child(2){
//     background-color: #F6F3F3  !important;
// }
// div .ce-chat-feed {
//     background-color: #F6F3F3  !important;
// }

// #ce-message-list-206928{
//     background-color: aqua;
// }

// // div .ce-custom-chat-header{
// //     background-color: #F6F3F3  !important;
// // }

// div .ce-message-list {
//     margin-top: 24px !important;
//     margin-left: 12px !important;
//     margin-right: 12px !important;
//     padding: 0px 3.3vw !important;
//     background:  #F6F3F3  !important;
//     border-radius: 8px 8px 0px 0px !important;
//     height: calc((100% - 85px) - 72px - 24px - 12px) !important;
// }

// .ce-chat-feed :nth-child(2){
//     // overflow: visible;
//     position: relative;
// }

//  .ce-custom-message-form{
//     background-color: #F6F3F3  !important;
// }
// ::before ::before{
//     background-color: #F6F3F3  !important;
// }

// .chat-right{
//     background-color: #F6F3F3  !important;
// }
// .ce-custom-message-input{
//     background-color: #e8e8e8  !important;
// }
div.ce-message-list{
    height: calc((100% - 85px) - 48px);
     overflow: auto !important; 
    position: relative;
    background-color: white;
}
div.ce-chat-list{
    height: calc((100% - 85px) - 48px);
     overflow: auto !important; 
    position: relative;
    background-color: white;
}